@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <div class="form-group">
        <p>HOLA</p>
        <a id="procedimiento" class="btn btn-secondary" href="/Home/Privacy">Ejecutar procedimiento</a>
    </div>
</div>
